@import "~normalize.css";
@import "roboto.css";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url("../assets/img.png");
    background-size: cover;
    height: 518px;
    width: auto;
    margin: 0 auto;
}